<div class="container">

    <header id="home">
        <div class="img-wrapper">
            <img src="assets/img/developer-img.jpg">
        </div>
        <div class="banner">
            <h1>Web Developer & Front End Designer</h1>
            <p>Valdir Cezar de Jesus</p>
        </div>
    </header>

    <div class="login">
        <h1>Login</h1>

        <form style="width: 80%;">
            <mat-form-field class="input inputLogin">
                <mat-label>Login</mat-label>
                <input type="text" matInput placeholder="Login">
            </mat-form-field>
        </form>
        <form style="width: 80%;">
            <mat-form-field class="input inputSenha">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password">
            </mat-form-field>
        </form>
        <form style="width: 80%;">
            <button mat-stroked-button color="primary">Sign in</button>
            <button mat-stroked-button color="warm">Sign up</button>
        </form>
    </div>
</div>